<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <%= image_tag 'logo_cei_400x400.png', class: 'android-logo-image' %>
          </span>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="android-header-spacer mdl-layout-spacer"></div>
    <!-- Navigation -->
    <div class="android-navigation-container">
      <nav class="android-navigation mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">História</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Eventos</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Gestão</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Fale conosco</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Calendário Acadêmico</a>
      </nav>
    </div>
          <span class="android-mobile-title mdl-layout-title">
            <%= image_tag 'logo_cei_400x400.png', class: 'android-logo-image' %>
          </span>
  </div>
</div>