<br>
<div style="text-align:center">
  <a href="https://www.facebook.com/ceiUFPR" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Facebook
  </a>
  <br>
  <br>
  <a href="mailto:ceiufpr@gmail.com" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Gmail
  </a>
  <br>
  <br>
  <a href="mailto:cei@inf.ufpr.br" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Email
  </a>
</div>
