<div style="text-align:center">
  <p>
    No dia 18 de Março de 1988 reuniram-se os estudantes dos cursos de Tecnólogo em Processamento de Dados e Bacharelado em Processamento de Dados da Universidade Federal do Paraná, no auditório da Biblioteca do Setor de Ciências Tecnológicas da UFPR, para aprovar a criação do Centro de Estudos de Informática (CEI) e o Estatuto do mesmo. Dando início a reunião, o Presidente da comissão de estruturação do CEI, aluno André Augusto Sobreira Bittencourt, fez um breve histórico dos movimentos estudantis dentro do curso de Tecnólogo em Processamento de Dados da UFPR. Em seguida, explanou alguns pontos do projeto de Estatuto do CEI, já amplamente divulgado anteriormente, o qual após uma ampla discussão foi aprovado. A Assembléia Geral marcou eleições para o dia 08 de Abril, com posse dos membros eleitos para o dia 12 do mesmo mês.
    </br> </br>
    Após alguns dias de atraso, no dia 12 de Abril de 1988, reuniu-se a comissão eleitoral do CEI, para a realização das eleições gerais do presente Centro Acadêmico, para a gestão 1988 a 1989. A votação ocorreu até às 22h10min, quando foi lacrada a urna e deu-se início ao processo de apuração. Computou-se um total de 161 votos. Os resultados apontaram para os cargos de diretoria: 01 voto nulo, 03 votos brancos, 60 votos para a chapa "Sem Nome" e 97 votos para a chapa "Despertar". Eram 23:00h quando deu-se por encerrada a presente eleição, sendo declarada vitoriosa a chapa "Despertar".
  </p>
  <br>
  <h1> Gestões </h1>
  <h4>Gestão Despertar</h4> <p>* Data de Posse: 16 de Abril de 1988</p><p>Presidente: Flávio Cezar Froczak<br />
  Vice-Presidente:<br />
  1ª Secretária: Cláudia Vanessa M. de Oliveira<br />
  2º Secretária:<br />
  1º Tesoureiro:<br />
  2º Tesoureiro: Marcos Ferreira</p>
  <h4>Gestão Wanna B. B. Cause</h4> <p>* Data de Posse: 02 de Dezembro de 1993</p><p>Presidente: Alexandre Marcondes Ferraz<br />
  Vice-Presidente: Razer A. N. R. Montãno<br />
  1º Secretário: José Eduardo<br />
  2º Secretária: Alexandre Lucas Fresch<br />
  1º Tesoureiro: Rene Luiz Machado Júnior<br />
  2ª Tesoureira: Fernanda de Negri</p>
  <h4>Gestão ´95</h4> <p>* Data de Posse: 04 de Abril de 1995</p> <p>Presidente: Daniel Câmara<br />
  Vice-Presidente: Jefferson Luis Baggio<br />
  1º Secretário: Hellenson Francisco Vieira Buisa<br />
  2ª Secretária: Luciane Neves<br />
  1º Tesoureiro: Alecsander Modena<br />
  2º Tesoureiro: Dieferson Luis Alves de Araújo</p>
  <h4>Gestão Chapação</h4> <p>* Data de Posse: 16 de Abril de 1996</p> <p>Presidente: Gustavo Lona Braga<br />
  Vice-Presidente: Kenety João Borges<br />
  1ª Secretária: Elaine Cristina Outi<br />
  2º Secretário: Sérgio Quauquarini<br />
  1º Tesoureiro: Martin Alain Kretschek<br />
  2º Tesoureiro: Dieferson Luis Alves de Araújo</p>
  <h4>Gestão RenasCEI</h4> <p>* Data de Posse: 25 de Abril de 1997</p> <p>Presidente: Erick Luna de Azevedo<br />
  Vice-Presidente: Cleverson Zapelini dos Santos<br />
  1º Secretário: Eduardo André Albuquerque Simião<br />
  2º Secretário: Marco Aurélio Martins Sitta<br />
  1º Tesoureiro: Marcelo Eickhoff<br />
  2º Tesoureiro: Misael Alves Bortolaz</p>
  <h4>Gestão CEI++</h4> <p>* Data de Posse: 06 de Agosto de 1998</p> <p>Presidente: Cleverson Zapelini dos Santos<br />
  Vice-Presidente: Misael Alves Bortolaz<br />
  1º Secretário: Marcelo Reis Lozovey<br />
  2º Secretário: Rafael Bernardes Rosseto<br />
  1º Tesoureiro: Alexandre Henrique de Maria<br />
  2º Tesoureiro: Fabio Henrique da S. Skonieczny</p>
  <h4>Gestão Tudo CEI´s</h4> <p>* Data de Posse: 24 de Setembro de 1999</p><p>Presidente: Misael Alves Bortolaz<br />
  Vice-Presidente: Alexandre Henrique de Maria<br />
  1º Secretário: Robson do Prado Assunção<br />
  2º Secretário: Marcelo Reis Lozovey<br />
  1ª Tesoureira: Marcela Letícia Otto<br />
  2º Tesoureiro: Alessandro Neier Riccio</p>
  <h4>Gestão Turbo CEI</h4> <p>* Data de Posse: 05 de Outubro de 2000</p> <p>Presidente: Robson do Prado Assunção<br />
  Vice-Presidente: Vanderlei Stica de Castro<br />
  1ª Secretária: Pryscila Barvick Guttoski<br />
  2º Secretário: Rubens Leonardo Ajaime Lenzi<br />
  1º Tesoureiro: Paulo Henrique de Lima Santana<br />
  2º Tesoureiro: Jefferson Rodrigo Bauer<br />
  Diretor de Ensino e Pesquisa: Marcelo Reis Lozovey<br />
  Diretor de Esporte e Lazer: Celito Alves Tonial<br />
  Diretora de Comunicação: Michele Venturin<br />
  Diretor de Cultura: Carlos Eduardo H. Wawryniuk</p>
  <h4>Gestao Consciência</h4> <p>* Data de Posse: 19 de Fevereiro de 2002</p>  <p>Presidente: Ana Flavia Barreto de Godoi<br />
  Vice-presidente: Daniel Martineschen<br />
  1o Secretario: Carlos Eduardo H. Wawryniuk<br />
  2o Secretario: Vanderlei Stica de Castro<br />
  1o Tesoureiro: Rafael Campiolo Luz<br />
  2o Tesoureiro: Robson do Prado Assunção<br />
  Diretor de Ensino e Pesquisa: André Luiz Balvedi<br />
  Diretor de Esportes e Eventos: Marcelo Reis Lozovey<br />
  Diretora de Cultura: Andréia Cristina Pilarski<br />
  Diretor de Politica Estudantil: Fernando Augusto Moreira<br />
  Diretora de Extensao Universitaria: Keity Mary dos Santos</p>
  <h4>Gestao CEI Já</h4> <p>* Data de Posse: 08 de Março de 2003</p> <p>Presidente: Dilmari Seidel<br />
  Vice-presidente: Tiago Vignatti<br />
  1o Secretario: Márcio Roberto Miranda<br />
  2o Secretario: Vinícius Máximo<br />
  1o Tesoureiro: Gustavo Laufer<br />
  2o Tesoureiro: Éder Morais Paula<br />
  Diretor de Pesquisa e Extensão: Rodrigo Corrêa Bassil<br />
  Diretor de Esportes: Lucas Loures Bueno Belle<br />
  Diretor de Tecnologia: André Luiz Fonseca<br />
  Diretor de Marketing: Felipe Toazza Caldeira<br />
  Diretor de Eventos: Maurício Haygert<br />
  Diretora de Cultura: Juliano Picussa<br />
  Diretor de Entretenimento: Rubens L. A. Lenzi<br />
  Diretor de Patrimônio: André L. Vignatti<br />
  Diretora de Política Estudantil: Fabiana Anciutti Orreda<br />
  Diretor de Publicidade: Paulo Vítor Caxeiro<br />
  Secretário de Comunicação: joão Estevam de Carvalho<br />
  Diretor Honoris Causa: Alessandre Sena<br />
  Conselheiro de Entretenimento: Fernando Moreira<br />
  Assessor de Política e Negociação: José Cristiano</p>
  <h4>Gestão CEI Certo</h4> <p>* Data de Posse: 18 de Março de 2004</p> <p>Presidente: Guilherme Rodrigues de Barcelos<br />
  Vice-presidente: João Alberto Kuchnier<br />
  1ª Secretária: Juliana Izabel Mendes<br />
  2º Secretário: Arthur Renato Mello<br />
  1º Tesoureiro: Diego Bosloper Albini<br />
  2º Tesoureiro: Felipe Toazza Caldeira<br />
  Diretor de Esportes: Augusto Hellvig<br />
  Diretor de Política Estudantil: Eduardo da Rocha Ruthes<br />
  Diretor de Comunicação: Bruno José Santos<br />
  Diretor de Relações Externas: André Medeiros Mendes<br />
  Diretor de Eventos: Giuliano Cambi G. Barros<br />
  Diretor de Cultura: Daniel Rebelo Brun<br />
  Diretor de Patrimônio: Luiz Fernando Signorelli Gonçalves</p>
  <h4>Gestão Equilíbrio</h4> <p>* Data de Posse: 23 de Novembro de 2004</p>
  <p>Presidente: Bruno José Santos<br />
  Vice-presidente: Ana Paula Araújo e Silva<br />
  1ª Secretária: Juliana Izabel Mendes<br />
  2º Secretário: Arthur Renato Mello<br />
  1º Tesoureiro: Diego Bosloper Albini<br />
  2º Tesoureiro: Felipe Toazza Caldeira<br />
  Diretor de Extensão: Martín Perez<br />
  Diretor de Assuntos Estudantis: Gustavo Ely Krug<br />
  Diretor de Esportes: Vinicius Eloir Kienen<br />
  Diretor de Eventos: Paolo Lucchi<br />
  Diretor de Patrimônio: Fernando Gonzaga Alves<br />
  Diretor Pesquisa: João Alberto Kuchnier<br />
  Diretor de Política Estudantil: Carlos Marx Montalvão Alves<br />
  Diretora de Ensino: Roberta Balvedi Toniazzo</p>
  <p>* Data da alteração: 26 de Abril de 2005</p>
  <p>Presidente: Arthur Renato Mello<br />
  Vice-presidente: Juliana Izabel Mendes<br />
  1ª Secretário: Martín Perez<br />
  2º Secretário: Fernando Gonzaga Alves<br />
  1º Tesoureiro: Diego Bosloper Albini<br />
  2º Tesoureiro: Felipe Toazza Caldeira<br />
  Diretor de Extensão: Guilherme Rodrigues de Barcelos<br />
  Diretor de Assuntos Estudantis: Gustavo Ely Krug<br />
  Diretor de Esportes: Vinicius Eloir Kienen<br />
  Diretor de Eventos: Paolo Lucchi<br />
  Diretor de Patrimônio: Pedro Deguchi<br />
  Diretor Pesquisa: Gelson da Costa Cosendi Junior<br />
  Diretor de Política Estudantil: Carlos Marx Montalvão Alves<br />
  Diretora de Ensino: Roberta Balvedi Toniazzo</p>
  <h4>Gestão 2006</h4> <p>* Data de Posse: 27 de Março de 2006</p>
  <p>Presidente: Martín Perez<br />
  Vice-presidente: Fernando Gonzaga Alves<br />
  1ª Secretário: Bruno Henrique Hjort<br />
  2º Secretária: Alessandra Cristina Barreira<br />
  1º Tesoureiro: Thiago Queiroz Mendes<br />
  2º Tesoureiro: Vitor Born Abreu<br />
  Diretor de Esportes: Paulo Santiago<br />
  Diretor de Patrimônio: Estevam Pellizzaro<br />
  Diretor de Assuntos Estudantis: Elton Gruber<br />
  Diretor de Logística: Herson José Lima de Oliveira</p>
  <h4>Gestão Cara Nova</h4> <p>* Data de Posse: 14 de Março de 2007</p> <p>Presidente: Thiago Queiroz Mendes<br />
  Vice-presidente: Vitor Born Abreu<br />
  1ª Secretário: Estevam Pellizzaro<br />
  2º Secretária: Paula Rodrigues Gonçalves<br />
  1º Tesoureiro: Paolo Lucchi<br />
  2º Tesoureiro: Arthur Henrique Penteado Furlan<br />
  Diretor de Esportes: Gabriel Muller<br />
  Diretor de Logística: Giovanni Dognani Ferrarese Frazilli<br />
  Diretor de Patrimônio: Bernardo Mendes Tuaf<br />
  Diretor de Política Estudantil: Vinícius Massuchetto<br />
  Diretor de Extensão: Daniel Hulshof<br />
  Diretor de Comunicação: Allam Marcos Campanini Matsubara<br />
  Diretora de Eventos: Lunah Bianca Gouveia</p>
  <h4>Gestão Cara Nova</h4> <p>* Data de Posse: 03 de Março de 2008</p>
  <p>Presidente: Paolo Lucchi<br />
  Vice-presidente: Giovanni Dognani Ferrarese Frazilli<br />
  1ª Secretário: Allam Marcos Campanini Matsubara<br />
  2º Secretário: Pedro Gaulbier<br />
  1º Tesoureiro: Estevam Pellizzaro<br />
  2º Tesoureiro: Gabriel Muller</p>
  <h4>Gestão CEI Reloaded</h4> <p>* Data de Posse: 11 de Março de 2009</p> <p>Presidente: Estevam Pellizzaro<br />
  Vice-presidente: Douglas Cellarius Barros<br />
  1ª Secretário: Iulyan Vicari<br />
  2º Secretário: Jackson Froguel<br />
  1º Tesoureiro: Paulo Henrique de Lima Santana<br />
  2º Tesoureiro: Allam Marcos Campanini Matsubara<br />
  Diretor de Comunicação: Pedro Henrique de Amorim Cunha<br />
  Diretor de Eventos: Jean Carlos Pires<br />
  Diretor de Cultura: Fernando Seiti Yamamoto<br />
  Diretor de Logística: Jean D&#8217;Leon Costa<br />
  Diretor de Política Estudantil: Thiago Leucz Astrizi</p>
  <h4>Gestão Revolution</h4> <p>* Data de Posse: 27 de Novembro de 2009</p> <p>Presidente: Fernando Seiti Yamamoto<br />
  Vice-presidente: Iulyan Vicari<br />
  1ª Secretário: Edir Szczepan Dumaszak<br />
  2º Secretária: Joice Pereira Costa<br />
  1º Tesoureiro: Allison Dellazari De Lima<br />
  2º Tesoureiro: Adriel Kotviski<br />
  Diretor de Comunicação: Diego Felipe de Almeida Coimbra<br />
  Diretora de Eventos: Letícia Polli Miranda<br />
  Diretor de Patrimônio: Robson Cardoso dos Santos<br />
  Diretor de Cultura: Henrique Perachi de Souza<br />
  Diretor de Esportes: Ernani Willemberg Ribeiro</p>
  <h4>Gestão CEI#</h4> <p>* Data de Posse: 1 de Abril de 2011</p> <p>Presidente: Hector Ricardo Iankovski<br />
  Vice-presidente: Allan Matheus Chueiri Sklarow<br />
  1ª Secretário: Eduardo Augusto Maia<br />
  2º Secretária: Matheus Franco de Godoy<br />
  1º Tesoureiro: Allan Costa Vieira<br />
  2º Tesoureiro: Ricardo Luiz de Sousa<br />
  Diretores Administrativos: Alessandro Akira Molossi, Guilherme Ferreira da Silva e Iulyan Vicari<br />
  Diretora de Eventos Sociais: Luiza Araújo Zappelini<br />
  Diretor de Eventos Acadêmicos: Luiz Eduardo Bornancin<br />
  Diretores de Patrimônio: Ricardo dos Santos Alvares e Pedro Henrique de Amorim Cunha<br />
  Diretores de Esportes: Felipe José Rauen de Faria Ribeiro e Rafael de Oliveira Giuliani</p>
</div>
